body {
    background-color: ghostwhite;
}

.product-img {
  display: block;
  max-width: 100px;
  max-height: 200px;
  width: auto;
  height: auto;
}

.cart {
    max-width: 50px;
    max-height: 50px;
    width: auto;
    height: auto;
}

.navbar-brand {
    font-family: 'Lobster';
    font-size: 27;
}

.product {
    box-shadow: 0px 1px 5px #555;
    background-color: white;
    border: 1px solid black;
    border-radius: 25px;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description {
    width: 300px;
    text-align: center;
}  

.all-products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.form-signup {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.form-login {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.form-addItem {
    width: 80%;
    margin: 0 auto;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
}