
{% load widget_tweaks %}
<br>
<!-- <div>
    Title: <input type="text" name="title" />
    {{form.title.errors}}
</div> -->

<div class="form-group row">
    <label for="inputTitle" class="col-sm-3 col-form-label">Title</label>
    <div class="col-sm-9">
        <input type="text" class="form-control" id="inputTitle" name="title" />
        <span style="color:red;">{{form.title.errors}}</span>
    </div>
</div>
  
<br>
<!-- <div>
    Image: <input type="file" name="image_url" />
    {{form.image_url.errors}}
</div> -->
<div class="form-group row">
    <label for="inputImage" class="col-sm-3 col-form-label">Image</label>
    <div class="col-sm-5">
        <input type="file" class="form-control" id="inputImage" name="image_url" accept='image/*' />
        <span style="color:red;">{{form.image_url.errors}}</span>
    </div>
</div>

<br>

<!-- <div>
    Description: <input type="text" name="description" />
    {{form.description.errors}}
</div> -->
<div class="form-group row">
    <label for="inputDesc" class="col-sm-3 col-form-label">Description</label>
    <div class="col-sm-9">
        <!-- <input type="text" class="form-control" id="inputDesc" name="description" /> -->
        <textarea class="form-control" id="inputDesc" name="description" rows="5"></textarea>
        <span style="color:red;">{{form.description.errors}}</span>
    </div>
</div>

<br>

<!-- <div>
    Price: <input type="number" name="price" />
    {{form.price.errors}}
</div> -->
<div class="form-group row">
    <label for="inputPrice" class="col-sm-3 col-form-label">Price</label>
    <div class="input-group col-sm-5">
        <div class="input-group-prepend">
            <div class="input-group-text">CAD $</div>
        </div>
        <input type="number" class="form-control" id="inputPrice" name="price" step="0.01" min="0"/>
        <span style="color:red;">{{form.price.errors}}</span>
    </div>
</div>

<br>

<div class="form-group row">
    <label for="inputInventory" class="col-sm-3 col-form-label">Number of items</label>
    <div class="input-group col-sm-3">
        <input type="number" class="form-control" id="inputInventory" name="inventoryCount" />
        <span style="color:red;">{{form.inventoryCount.errors}}</span>
    </div>
</div>

<br>