<div id="topNavBar">
    <ul class="topNavBar-ul">
        <li class="topNavBar-li"><a class="menuLink" href="{% url 'login' %}">LOGIN</a></li>
        <li class="topNavBar-li"><a class="menuLink" href="{% url 'signup' %}">JOIN</a></li>
        <li class="topNavBar-li"><a class="menuLink" href="#">MY PAGE</a></li>
        <li class="topNavBar-li"><a class="menuLink" href="#">NOTICE</a></li>
        <li class="topNavBar-li"><a class="menuLink" href="#">FAQ</a></li>
    </ul>
</div>

<div id="bottomNavBar">
    <ul class="bottomNavBar-ul">
        <li class="bottomNavBar-li"><a class="logo" href="{% url 'home' %}">LOOK-N-FIT</a></li>
        <li class="bottomNavBar-li"><a class="typeLink" href="#">BEST SELLER</a></li>
        <li class="bottomNavBar-li"><a class="typeLink" href="#">OUTER</a></li>
        <li class="bottomNavBar-li"><a class="typeLink" href="#">TOP/SHIRT</a></li>
        <li class="bottomNavBar-li"><a class="typeLink" href="#">KNIT/CARDIGAN</a></li>
        <li class="bottomNavBar-li"><a class="typeLink" href="#">BOTTOM</a></li>
        <li class="bottomNavBar-li"><a class="typeLink" href="#">SHOES/BAG</a></li>
        <li class="bottomNavBar-li"><a class="typeLink" href="#">ACC</a></li>
    </ul>
</div>
