{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="form-addItem">
        <br />
        <h2>Add your item</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'includes/formItem.html' %}
            <div class="col text-center">
            <button type="submit" class="btn-outline-dark btn">Add</button>
            <a href="{% url 'home' %}"><input type="button" value="Back" class="btn-outline-dark btn" /></a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
