{% extends 'base.html' %}

{% block content %}
<h2>Your Shopping Cart</h2>
<br><br>
{% for item in order.products.all %}
    <div class="card flex-row flex-wrap" style="width:60%;">
        <div class="card-header border-0">
            <img src="{{ item.product.image_url.url }}" alt="Product image" style="width:70px;height:70px;"/>
        </div>
        <div class="card-block px-2">
            <h4 class="card-title">{{ item.product.title }}</h4>
            <p class="card-text">Price: ${{ item.product.price }}<br>Quantity:{{ item.quantity }}</p>
        </div>
    </div>
    <br>
{% endfor %}
<br><br><br>
<hr>
Total Price: ${{ order.get_total_price}}
{% endblock content %}
