{% extends 'base.html' %}

{% block content %}
<!-- <h2>{{ product.title }}</h2>
<img src="{{ product.image_url.url }}" alt="Product image" />
Product Description:<br>
<p style="margin-left:15px;">{{ product.description }}</p><br> -->

<h2>Successfully added item <strong>{{ product.title }}</strong> to cart!</h2>
<br><br>
<a href="{% url 'productPage' product_id=product.id %}" style="margin-right:1%;"><input type="button" value="Back to Item" class="btn btn-primary" /></a>
<a href="{% url 'home' %}" style="margin-right:1%;"><input type="button" value="Keep Shopping" class="btn btn-primary" /></a>
<a href="{% url 'cart' %}" style="margin-right:1%;"><input type="button" value="View Cart" class="btn btn-primary" /></a>

<br><br>
{% endblock content %}