{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="form-modifyProduct">
        <br />
        <h2>Change Address</h2><br>
        <hr>
        <br>
        <form method="post" action="{% url 'editProfile' %}">
            {% csrf_token %}
            <div class="form-group row" style="margin-left:50px;">
                <label for="inputName" class="col-sm-3 col-form-label">Name</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputName" value ="{{ user.first_name }}" name="first_name" required="required" />
                    <input type="text" class="form-control" value ="{{ user.last_name }}" name="last_name" required="required" />
                </div>
            </div>
            <br>
            <div class="form-group row" style="margin-left:50px;">
                <label for="inputEmail" class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputEmail" value ="{{ user.email }}" name="email" required="required" />
                </div>
            </div>
            <br>
            <div class="form-group row" style="margin-left:50px;">
                <label for="inputAddress" class="col-sm-3 col-form-label">Address</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputAddress" value ="{{ user.profile.address }}" name="address" required="required" />
                </div>
            </div><br><br>
            <div class="col text-center">
            <button type="submit" class="btn-outline-dark btn">Save</button>
            <a href="{% url 'myspace' %}"><input type="button" value="Back" class="btn-outline-dark btn" /></a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
