{% extends 'base.html' %}

{% block content %}
<h2>My Account</h2>
<div class="all-products">
    {% for product in products %}
    <div class="product">
        <h4><a href="{{product.image_url}}">{{ product.title }}</a></h2>
           
            <img class="product-img" src="{{product.image_url}}" alt="pic">
            <h4> {{product.price}} $</h4>
            <p class="description">{{product.description}}</p>
    </div>
    {% endfor %}
</div>


<a href="{% url 'addItem' %}"><input type="button" value="Add your item" class="btn btn-primary" /></a>
<br>
<br>
<h3>Chat Room</h3>
<div class="chat">
    <iframe src="{% url 'index' %}" height="300" width="305px" style="margin-top: 30px;"></iframe>
</div>
{% endblock content %}